.profile {
  background: #f3f3f3;
  box-sizing:border-box;
  border-radius: 4px;
  margin: 40px auto;
  max-width: 600px;
  padding: 10px 20px;
  width: 100%;
}
.profile-info {
  display: flex;
  justify-content: space-between;
}
.profile-avatar {
  min-width: 300px;
  margin-right: 20px;
  width: 100%;
}
.profile-avatar_img {
  width: 100%;
}
.profile-description_name {
  font-weight: bold;
  font-size: 24px;
}
.profile-description_info {
  font-size: 16px;
  line-height: 22px;
  margin-top: 8px;
}
