.profile {
  background: #f3f3f3;
  box-sizing:border-box;
  border-radius: 4px;
  margin: 40px auto;
  max-width: 600px;
  padding: 10px 20px;
  width: 100%;
}
.profile-avatar {
  max-width: 300px;
  width: 100%;
}
.profile-avatar_img {
  width: 100%;
}
